@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-text-menu: #374151;
  --color-primary: #E8B431;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-menu: #374151;
  --color-primary: #E8B431;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  min-height: 3000px;
  scroll-behavior: smooth;
}
